
<footer class="page-footer font-small indigo">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mx-auto">
        <br>
        <center>
        <a href="/">
          <img src="images/logo.png" width="100" height="100" />
        </a>
      </center>
      </div>
      <hr class="clearfix w-100 d-md-none" />
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Connect with Us</h5>

        <ul class="list-unstyled text-small">
          <li>
            <ion-icon name="logo-facebook"></ion-icon>
            <a class="text-muted" href="https://www.facebook.com/" target="_blank">Facebook</a>
          </li>
          <li>
            <ion-icon name="logo-instagram"></ion-icon>
            <a class="text-muted" href="https://www.instagram.com/?hl=en" target="_blank">Instagram</a>
          </li>
          <li>
            <ion-icon name="logo-twitter"></ion-icon>
            <a class="text-muted" href="https://twitter.com/" target="_blank"> Twitter
            </a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none" />
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Us</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Meet the Team</a></li>
          <li><a class="text-muted" href="#">Contact us</a></li>
          <li><a class="text-muted" href="#">Terms & Conditions</a></li>            
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none" />
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    Created by Cindy Jang</a>
  </div>
</footer>
