<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- BOOTSTRAP CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <!-- ICON PACK -->
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <title> booking | firecnc</title>
</head>

<!-- NAVIGATION BAR-->
{{> nav}}
<!-- NAVIGATION BAR-->

<!-- CONTENT -->

<body>
  <div id="container" class="lead font-weight-normal px-5 py-5 mx-auto">
    <h3><b>Bear's Clean Room</b></h3>
    <br>
    <center><img src="images/bedroom.jpg" alt="living room" width="90%" /></center>
    <div class="row">
      <div id="info" class="col-6 col-md px-5 py-3 mx-auto">
        <!-- star rating -->
        <p class="lead font-weight-normal">
          <span class="fa fa-star" style="color: salmon;"></span>
          <span class="fa fa-star" style="color: salmon;"></span>
          <span class="fa fa-star" style="color: salmon;"></span>
          <span class="fa fa-star" style="color: salmon;"></span>
          <span class="fa fa-star"></span>
          <!-- star rating -->
          <b>12 reviews</b>
          <br>
          <div class="mb-2 text-muted">$100 / night</div>
          <a href="mailto:bear@firecnc.com">Contact Host</a>
        </p>
      </div>
      <div class="col-6 col-md px-5 py-3 mx-auto">
        <a class="btn btn-outline-dark px-3 py-2" id="check" data-toggle="modal" data-target="#availability">CHECK
          AVAILABILITY</a>
        <!-- AVAILABILITY MODAL -->
        <div class="modal fade" id="availability" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <form class="was-validated">
                  <div class="form-group">
                    <label for="checkin">Check In</label>
                    <input type="date" class="form-control" id="checkin" required />
                    <label for="checkout">Check Out</label>
                    <input type="date" class="form-control" id="checkout" required />
                    <label for="guest">Number of Guests</label>
                    <select id="guest" class="form-control">
                      <option selected>Select</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6+</option>
                    </select>

                    <div class="modal-footer">
                      <a href="/confirm"><button type="button" class="btn btn-primary" style="background-color: salmon">
                          Check
                        </button>
                      </a>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- AVAILABILITY MODAL -->
      </div>
    </div>
    <!-- INFORMATION -->
    <div class="row">
      <div class="col-6 col-md">
        <h4>Summary</h4>
        <p class="lead font-weight-normal px-5 py-3 mx-auto">
          located in Downtown, Toronto
          <br>
          1 Room
          <br>
          hosted by <b>Bear</b>
        </p>
      </div>
      <div class="col-6 col-md">
        <h4>Description</h4>
        <p class="lead font-weight-normal px-5 py-3 mx-auto">
          A nice clean room with all-inclusive amenities located in the heart of downtown Toronto. Perfect for 1 or 2
          persons stay.
        </p>
      </div>
    </div>
    <!-- INFORMATION -->

    <!-- GOOGLE MAP -->
    <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 1200px">
      <h4>Location</h4>
      <div id="map" class="px-5 py-3 mx-auto">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23093.454579843383!2d-79.39667693549644!3d43.65478776373531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb34d27310bd%3A0xba15d20622070393!2sDowntown%20Toronto%2C%20Toronto%2C%20ON!5e0!3m2!1sen!2sca!4v1602439613361!5m2!1sen!2sca"
          width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
      </div>
    </div>
    <!-- GOOGLE MAP -->
  </div>
  </div>
  <!-- CONTENT -->
</body>

<!-- FOOTER-->
{{> footer}}
<!-- FOOTER-->

</html>