<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- ICON PACK -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <title>Login | firecnc</title>
</head>

<!-- NAVIGATION BAR-->
{{> nav}}
<!-- NAVIGATION BAR-->

<!-- CONTENT -->

<body>
    <div id="container" class="py-5">
        <div class="position-relative overflow-hidden p-md-5 px-5 py-4 text-center" style="
          background-color: salmon;
          height: 80%;
        ">
            <h2 class="display-3 px-3 py-3" style="color: whitesmoke">Login</h2>
            <div class="px-4 py-4" style="margin: auto; background-color: rgb(240, 240, 240); height: 80%; width: 40%;">
                <!-- LOGIN  -->
                <form class="was-validated" action="/login" id="loginForm" method="POST"
                    style="margin: auto; width: 60%;">
                    <div class="form-group">
                        <label for="email"><b>Email</b></label>
                        <br />
                        <input type="email" class="form-control" placeholder="Enter Email" name="email" required />
                        <br />
                        <label for="psw"><b>Password</b></label>
                        <br />
                        <input type="password" class="form-control" placeholder="Enter Password" name="password"
                            required />
                        <br />
                        <button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color: salmon">
                            Login
                        </button>
                    </div>
                </form>
                <!-- LOGIN MODAL -->
            </div>
        </div>
    </div>
</body>
<!-- CONTENT -->

<!-- FOOTER-->
{{> footer}}
<!-- FOOTER-->

</html>