<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- ICON PACK -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <title>register | firecnc</title>
</head>

<!-- NAVIGATION BAR-->
{{> nav}}
<!-- NAVIGATION BAR-->

<body>
    <div id="container" class="py-5">
        <div class="position-relative overflow-hidden p-md-5 px-5 py-4 text-center" style="
          background-color: salmon;
          height: 80%;
          background-size: cover;
        ">
            <h2 class="display-3 px-3 py-3" style="color: whitesmoke">Create an Account</h2>
            <div class="px-4 py-4" style="margin: auto; background-color: rgb(235, 235, 235); height: 80%; width: 40%;">
                <!-- USER REGISTRATION -->
                <form class="was-validated" action="/register" method="POST" style="margin: auto; width: 70%;">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required />
                    <div class="invalid-feedback">
                        Please input valid e-mail address
                    </div>
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" minlength="8"
                        maxlength="25" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                        required />
                    <div class="invalid-feedback">
                        must be minimum 8 characters, include one letter, one number and
                        one special character (@$!%*#?])
                    </div>
                    <label for="fname"> First Name </label>
                    <input type="text" class="form-control" id="fname" name="fname" pattern="[A-Za-z/s]+" required />
                    <div class="invalid-feedback">must contain only alphabetical characters</div>
                    <label for="lname"> Last Name </label>
                    <input type="text" class="form-control" id="lname" name="lname" pattern="[A-Za-z/s]+" required />
                    <div class="invalid-feedback">must contain only alphabetical characters</div>
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" required />
                    <div class="invalid-feedback">Please input valid address</div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="city">City</label>
                            <input list="cities" class="form-control" name="city" id="city" pattern="[A-Za-z\s]+"
                                required />
                            <datalist id="cities">
                                <option value="Toronto"></option>
                                <option value="Ottawa"></option>
                                <option value="Calgary"></option>
                                <option value="Edmonton"></option>
                                <option value="Vancouver"></option>
                                <option value="Montreal"></option>
                            </datalist>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="province">Province</label>
                            <select id="province" name="province" class="form-control" required>
                                <option disabled selected value>Select</option>
                                <option>ON</option>
                                <option>BC</option>
                                <option>QC</option>
                                <option>AB</option>
                                <option>SK</option>
                                <option>MB</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="postalcode">Postal Code</label>
                            <input type="text" class="form-control" id="postalcode" maxlength="6"
                                pattern="^([A-Za-z]\d[A-Za-z]\d[A-Za-z]\d)" placeholder="A1A1A1" required />
                        </div>
                    </div>

                    {{!-- <div class="form-group">
                        <div class="custom-control custom-radio mb-3">
                            <input type="radio" class="custom-control-input" id="boarder" name="userType"
                                value="boarder" required onclick="hide();" />
                            <label class="custom-control-label" for="boarder">Become a boarder</label>
                        </div>
                        <div class="custom-control custom-radio mb-3">
                            <input type="radio" class="custom-control-input" id="host" name="userType" value="host"
                                required onclick="visible();" />
                            <label class="custom-control-label" for="host">Become a host</label>
                            <div id="hidden">
                                <label for="photo">Upload Photo (optional)</label>
                                <input type="file" class="form-control" id="photo" name="photo" />
                            </div>
                        </div>
                    </div> --}}

                    {{!-- <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck" required />
                            <label class="form-check-label" for="gridCheck">
                                I agree to the
                                <a target="_blank" href="https://www.airbnb.ca/terms">Terms & Conditions</a>
                            </label>
                        </div>
                    </div> --}}
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="background-color: salmon">
                            Register
                        </button>
                    </div>
                </form>
                <!-- USER REGISTRATION -->
            </div>
        </div>
    </div>
</body>




<!-- FOOTER-->
{{> footer}}
<!-- FOOTER-->

</html>